.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #d8d9db;
  font-family: 'Arial', sans-serif;
  padding-top: 80px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

main {
  flex: 1;
  padding-top: 80px; /* Adjust according to Navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
